@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}